#Gradle
.gradle
build
classes
bin/cachefile

#Java
*.class

#Mac OS
.DS_Store

#Maven
/work
/target

#Idea
.idea
*.iml
*.ipr
*.iws

#Eclipse
.classpath
.project

#Misc
/*.sh
/result

# bin/ scripts
/.jenkins